@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
input,
button,
.uk-button {
  font-family: 'Roboto', sans-serif !important;
}

.in-optional-nav div .uk-button:first-child {
  border-left: 1px solid #23b064 !important;
  border-right: unset !important;
}

.in-profit-15 .in-icon-wrap:after {
  left: -220px !important;
  right: unset !important;
}

.uk-sticky.uk-active a.uk-logo {
  background: url('../img/main-logo.png') !important;
}

.uk-sticky.uk-active .uk-logo img {
  display: block !important;
  height: 60px !important;
}

.uk-list-bullet > li {
  padding-left: 0px !important;
  padding-right: 30px !important;
}

.in-pricing-1 .uk-card-body .uk-list-bullet > li::before {
  left: unset !important;
  right: 0;
}

.uk-margin-small-left {
  margin-left: 0px !important;
  margin-right: 10px;
}

.in-list-check li::before {
  left: unset !important;
  right: 0 !important;
}

.uk-flex.uk-flex-middle .uk-margin-small-right {
  margin-right: 0px;
  margin-left: 10px !important;
}

.uk-form-icon {
  left: unset;
  right: 0;
}

.uk-form-icon:not(.uk-form-icon-flip) ~ .uk-input {
  padding-left: 0px !important;
  padding-right: 42px !important;
}

.uk-search .uk-search-icon-flip {
  right: auto !important;
  left: 0 !important;
}
i.fas.fa-chevron-down {
  margin: 6px 6px 0px 8px !important;
}

.uk-position-bottom-right {
  left: 0px !important;
  right: unset;
}

.in-timeline-1 .in-timeline-branch .in-timeline-title {
  border-right: 1px solid #e8e8e8;
  border-left: unset;
  padding-right: 40px;
  padding-left: 0px !important;
}

.in-timeline-1 .uk-label {
  left: unset;
  right: 10px;
}

.in-timeline-1 .in-timeline-branch .in-icon-wrap {
  left: unset;
  right: 30px;
}

.in-slideshow .uk-position-center {
  left: unset;
}

@media only screen and (max-width: 767px) {
  .uk-navbar-left {
    width: 50%;
  }

  .minimize .uk-first-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .minimize .uk-first-column .firstminimize,
  .minimize .uk-first-column .secondminimize {
    display: flex;
    flex-direction: column;
  }

  .minimize .uk-first-column .firstminimize {
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
  }

  .minimize .uk-first-column .secondminimize {
    flex-basis: 66%;
  }

  .minimize .uk-first-column .secondminimize h4 {
    margin-bottom: 0px;
    text-align: right;
  }

  .minimize .uk-first-column .secondminimize p {
    margin-bottom: 10px;
    text-align: right;
  }

  .minimize .uk-first-column {
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .minimize {
    margin-left: 0px;
  }

  .minimize .uk-first-column .secondminimize a {
    text-align: right;
  }

  .minimize .uk-width-1-1.uk-first-column {
    padding: 0px;
  }
  .mb-width {
    width: 25%;
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-divider > :not(.uk-first-column)::before {
    right: -40px !important;
    left: unset !important;
  }
}
