.uk-sticky.uk-active a.uk-logo {
  background: url('../img/main-logo.png') !important;
}

.uk-sticky.uk-active .uk-logo img {
  display: block !important;
  height: 60px !important;
}

@media only screen and (max-width: 767px) {
  .uk-navbar-left {
    width: 50%;
  }

  .minimize .uk-first-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .minimize .uk-first-column .firstminimize,
  .minimize .uk-first-column .secondminimize {
    display: flex;
    flex-direction: column;
  }

  .minimize .uk-first-column .firstminimize {
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
  }

  .minimize .uk-first-column .secondminimize {
    flex-basis: 66%;
  }

  .minimize .uk-first-column .secondminimize h4 {
    margin-bottom: 0px;
    text-align: left;
  }

  .minimize .uk-first-column .secondminimize p {
    margin-bottom: 10px;
  }

  .minimize .uk-first-column {
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .minimize {
    margin-left: 0px;
  }

  .minimize .uk-first-column .secondminimize a,
  .minimize .uk-first-column .secondminimize p {
    text-align: left;
  }

  .minimize .uk-width-1-1.uk-first-column {
    padding: 0px;
  }
  .mb-width {
    width: 25%;
    margin: 0px !important;
    padding: 0px !important;
  }
  footer
    .uk-child-width-1-2\@s.uk-child-width-1-5\@m.uk-flex.uk-grid.uk-grid-stack {
    display: none;
  }

  .uk-width-1-2\@m.in-copyright-text.uk-grid-margin.uk-first-column p {
    text-align: center;
  }

  .uk-width-1-2\@m.uk-text-right\@m.in-footer-socials.uk-grid-margin.uk-first-column {
    text-align: center;
  }
  a.uk-logo img {
    height: 40px;
  }
  .uk-navbar-item,
  .uk-navbar-nav > li > a,
  .uk-navbar-toggle {
    min-height: 70px !important;
  }
}
